.header {
    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-left {
        display: flex;
        align-items: center;
        gap: 56px;
    }
    .nav {
        &__list {
            display: flex;
            gap: 33px;
        }
        &__item {
        }
        &__link {
            color: #69707D;
            font-size: 15px;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: left;
        }
    }
    &-right {
        display: flex;
        align-items: center;
        gap: 46px;
    }
    &__shape {
    }
}
